Personal_Portfolio_Chatbot_Github.json
{
  "name": "Personal_Portfolio_Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        40
      ],
      "id": "096753da-d8d5-4acb-b8ff-aa30e23d8ef2",
      "name": "When chat message received",
      "webhookId": "4a682316-2566-47c2-96bd-0215ff26b629"
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        420,
        240
      ],
      "id": "46f50009-fc35-40b7-a067-572fd7aa1cf8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Your Id",
          "name": "OpenRouter_Dummy"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Your System message...."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        40
      ],
      "id": "c564884c-b008-48e0-9e05-af80dd7d9307",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        240
      ],
      "id": "22de745a-2f1a-4199-a7e3-05090876661c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bb896c4-b200-4c2f-b44a-f85443f6dacf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a96d803d4a460ea7f7376e898bcc599e24cfcf4fd1ec92f496b3ad62941cf81"
  },
  "id": "P22m1RGNW3GqPBLe",
  "tags": []
}